body {
	width:320px;
}

div {
	display: inline-block;
	margin: 8px 0px;
}

div.center {
	text-align:center;
	margin: auto;
	display: flex;
	align-items: stretch;
	justify-content: center;
}

div.right {
	text-align:right;
}

button {
	width: 80px;
	outline: none;
	margin: 4px;
	border: none;
	border-radius: 2px;
	flex-grow: 0;
	
	transition-duration: 0.2s;
}

button.big {
	width: 120px;
	padding: 8px 0px;
}

button.long {
	width: 90%;
	padding: 8px;
}

button:hover:enabled,
button.active {
	background-color: #4CAF50;
	color: white;
}

button:active:enabled {
	background-color: #378039;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

span {
	font-size: 1.5em;
	vertical-align: middle;
	white-space: nowrap;
}